<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= pokemon.name %></h1>
    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
    <ul>
        <% if (Array.isArray(pokemon.type)) { %>
            <li>Type: <%= pokemon.type.join(', ') %></li>
        <% } else { %>
            <li>Type: <%= pokemon.type %></li>
        <% } %>
        <li>HP: <%= pokemon.stats.hp %></li>
        <li>Attack: <%= pokemon.stats.attack %></li>
        <li>Defense: <%= pokemon.stats.defense %></li>
        <li>Special Attack: <%= pokemon.stats.spattack %></li>
        <li>Special Defense: <%= pokemon.stats.spdefense %></li>
        <li>Speed: <%= pokemon.stats.speed %></li>
    </ul>
    <form action="/pokemon/<%= pokemon.id %>/edit" method="GET">
        <button type="submit" class="edit-button">Edit</button>
      </form>
      
      <!-- Delete button -->
      <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

     <!-- Back to Pokédex button -->
     <form action="/pokemon" method="GET">
        <button type="submit" class="back-to-pokedex">Back to Pokédex</button>
    </form>

</body>
</html>
